<div id="branding" role="banner">
    <div id="logo">
        <a href="/" title="Home">
            <%= image_tag "logos/logo.png" %>
            <span></span>
        </a>
    <div class="company-label">
      Société Suisse de Dermatologie et Vénéréologie (SSDV) <br />
      Schweizerische Gesellschaft für Dermatologie und Venerologie (SGDV)
    </div>
    </div><!-- end logo -->

    <%= render "shared/meta" %>
   
</div><!-- end branding -->
