<p><%= dear_salutation @exam_candidate -%>,</p>

<p>
  Ihre Anmeldung für die Facharztexamen wurde erfolgreich übermittelt.
  Die definitive Bestätigung folgt nach Prüfung Ihrer Anmeldung - die
  Rechnung für die Prüfungsgebühr erhalten Sie anfangs Juli.
</p>
 

<p>Besten Dank für die Kenntnisnahme!</p>

<p>
  Mit freundlichen Grüssen<br/>
  Generalsekretariat SGDV für die Kommission Fachexamen
</p>
