<p><%= dear_salutation @exam_candidate -%>,</p>

<p>
  Votre inscription à l’examen de spécialiste a été soumise avec succès. La 
  confirmation définitive suivra après vérification de votre inscription - 
  la facture pour l’examen vous parviendra en début juillet.
</p>
 

<p>
  Avec nos remerciements!<br/>
  Secrétariat général SSDV pour la commission des examens de spécialiste
</p>
