<p>Dear all,</p>

<p>
  A new exam application has been successfully submitted. You may examine the application by clicking
  on this link:
</p>
<p>
    <%= exam_candidate_url(@exam_candidate, :locale => :en) %>
</p>
