<p>Guten Tag,</p>

<p>
  Eine Anmeldung an die n채chste Fachexamenspr체fung ist erfolgt. Bitte pr체fen 
  Sie diese unter : 
</p>

<p>
    <%= exam_candidate_url(@exam_candidate, :locale => :de) %>
</p>

<p>Mit Ihrer Zustimmung best채tigen Sie die Anmeldung des Kandidaten definitiv.</p>

<p>Besten Dank!</p>

