<p><%= dear_salutation @recipient -%>,</p>

<p>
  Eine Anmeldung an die nächste Fachexamensprüfung ist erfolgt. Bitte prüfen 
  Sie diese unter: 
</p>

<p>
    <%= exam_candidate_url(@exam_candidate, :locale => :de) %>
</p>
<p>
  <%= @exam_candidate.name -%>
</p>

<p>Mit Ihrer Zustimmung bestätigen Sie die Anmeldung des Kandidaten definitiv.</p>

<p>
  Besten Dank! <br />
  Generalsekretariat SGDV für die Kommission Fachexamen
</p>
