<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Dear, <%= @member_candidate.name %></h1>
    <p>
    You have successfully submitted your SGDV membership application!

    In the following days, our SGDV board will examine your application and decide on it. 
    You will be notified once this process is finished.
    </p>
    <p>Thank you!</p>
  </body>
</html>
