<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= dear_salutation(@member_candidate) -%>,</p>
    <p>Ihr Beitrittsgesuch wurde erfolgreich 체bermittelt! </p>
    <p>Ihr Antrag wird in der n채chsten Vorstandssitzung behandelt.  Nach der Sitzung werden wir Sie 체ber den Entscheid informieren. Dieser Prozess dauert maximal drei Monate. </p>
      
      <p>Besten Dank und freundliche Gr체sse <br />
      Generalsekretariat SGDV
      </p>
  </body>
</html>
