<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= dear_salutation(@member_candidate) -%>,</p>

    <p>Votre demande d’adhésion a été soumise avec succès! Elle sera traitée lors de la prochaine réunion du comité de la SSDV. L’information sur la décision vous parviendra ensuite. Le processus peut durer au maximum trois mois.  </p>

    <p>Avec nos remerciements et nos meilleures salutations<br/>
      Secrétariat général SSDV
    </p>
  </body>
</html>
