<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Madame, Monsieur,</h1>

    <p>derma.ch  a reçu une demande d’adhésion. Pour la visualiser veuillez cliquer sur <%= link_to "le lien", member_candidate_url(@member_candidate, :locale => :fr) %> suivant. 
    </p>
    <p>Avec nos remerciements et nos meilleures salutations</p>
  </body>
</html>
