<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sehr geehrte Damen und Herren</h1>
    
    <p>derma.ch  hat ein Beitrittsgesuch erhalten. Bitte klicken Sie auf folgenden <%= link_to "Link", member_candidate_url(@member_candidate, :locale => :de) %> um das Dossier einzusehen ......</p>

    <p>Besten Dank und freundliche Grüsse</p>
  </body>
</html>
