<p>Sehr geehrter Herr / Sehr geehrte Frau</p>
Ein neues Passwort wurde für Sie angefordert. Sie können dieses durch Anklicken des folgenden Links erstellen: 

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => :de) %></p>
<p>Sollte diese Anfrage nicht von Ihnen sein, betrachten Sie das Mail als ungültig. Das Passwort wird nur geändert, wenn Sie den obenstehenden Link betätigen. </p>
<p>Mit freundlichen Grüssen<br/>Generalsekretariat SGDV </p>
