<p>Monsieur, Madame, </p>
<p>Un nouveau mot de passe a été demandé. Veuillez cliquer sur le lien ci-après pour en créer  un nouvau: </p>
<p><%= link_to 'Nouveau mot de passe', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, :locale => :fr) %></p>

<p>Si vous n’avez pas demandé un nouveau mot de passe, veuillez ignorer ce mail. Le mot de passe peu seulement être changer avec le lien ci-dessus. </p>
<p>Avec nos salutations les meilleures<br/>Secrétariat général SSDV
</p>
